header{
	background-color: #9D9DCA;
	text-align: center;
	color: white;
}
h1{
	font-family: 'Baloo Da', cursive;
	font-size: 45px;
}
h2{
	font-family: 'Baloo Da', cursive;
	font-size: 35px;
	text-align: center;
	background-color: #CACAEA;
}
h3{
	font-family: 'Baloo Da', cursive;
	font-size: 20px;
	text-align: left;
	padding-left: 10px;
}
h4{
	font-family: 'Baloo Da', cursive;
	font-size: 20px;
	text-align: center;
  margin-bottom: 2px;
}
p{
  padding-left: 10px;
}
#tableQ{
	border-radius: 2px;
}
body{
	background-color: #E8E8F6;
}
th{
	background-color:black;
  color: white;
}
td{
	border: 0.5px solid white;
  background-color:black;
  color: white;
  padding: 5px;
}
p{
	font-family: 'Montserrat', cursive;
}
ol{
	font-family: 'Montserrat', cursive;
}
li{
	font-family: 'Montserrat', cursive;
	padding: 5px;
}
strong{
	font-family: 'Montserrat', sans-serif;
}
footer{
	background-color: #9D9DCA;
	color: white;
	padding:10px;
	text-align: center;
}
.holder{
  align-self: center;
  margin-left: 39%;
}
.btn{
  background-color: black;
  color: white;
  font-family: 'Montserrat', cursive;
  padding: 5px;
  border: 2px solid white;
  font-size: 12px;
  margin-left: 43.5%;
  margin-top: 5px;
}