header{
	background-color: #CD9391;
	text-align: center;
	color: white;
}
h1{
	font-family: 'Baloo Da', cursive;
	font-size: 45px;
}
h2{
	font-family: 'Baloo Da', cursive;
	font-size: 35px;
	text-align: center;
	background-color: #F0DEDE;
}
h3{
	font-family: 'Baloo Da', cursive;
	font-size: 30px;
	text-align: left;
	float: left;
	padding: 10px;
	padding-right: 15px;
}

#tableQ{
	border-radius: 2px;
}
body{
	background-color: #FEFAF9;
}
#ejercicios{
	background-color: #FEFAF9;
	padding: 1px;
}
section{
	background-color: #FEFAF9;
}
th{
	background-color: #FEBAB5;
}
tr{
	background-color: #FEE1DF;
}
td{
	border: 1px solid black;
}
p{
	font-family: 'Montserrat', cursive;
}
ol{
	font-family: 'Montserrat', cursive;
}
li{
	font-family: 'Montserrat', cursive;
	padding: 5px;
}
strong{
	font-family: 'Montserrat', sans-serif;
}
footer{
	background-color: #4C8AFF;
	color: white;
	background-color: #CD9391;
	padding:10px;
	text-align: center;
}
button{
	font-family: 'Comfortaa', cursive;
	font-size: 12px;
	transition-duration: 0.4s;
	border: 2px solid #73A2C9;
	border-radius: 2px;
	padding: 5px;
}
button:hover{
	background-color: #73A2C9;
  	color: white;
}
/* TO DO LIST STYLE*/

#myTasks {
  margin: 0;
  padding: 0;
}

#myTasks li {
  cursor: pointer;
  position: relative;
  padding-left: 40px;
  background: #eee;
  font-size: 18px;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#myTasks li:hover {
  background: #B4D2E7;
}

#myTasks li.checked {
  background: #B4D2E7;
  color: #fff;
  text-decoration: line-through;
}

#myTasks li.checked::before {
  content: '';
  position: absolute;
  border-color: #fff;
  border-style: solid;
  border-width: 0 2px 2px 0;
  top: 4.5px;
  left: 16px;
  transform: rotate(45deg);
  height: 15px;
  width: 7px;
}

.close {
  position: absolute;
  right: 0;
  top: 0;
  padding: 4.5px 10px 4.5px 10px;
}

.close:hover {
  background-color: #94ACBE;
  color: white;
}

.header {
  background-color: #D6E6F1;
  padding: 30px 40px;
  text-align: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

input {
  margin-left: 11%;
  margin-bottom: 3%;
    border: none;
    border-radius: 0;
    width: 75%;
    padding: 5px;
    float: center;
    font-size: 15px;
    font-family: 'Comfortaa', cursive;
}

.addBtn {
  font-family: 'Comfortaa', cursive;
  padding: 5px;
  border: 2px solid #73A2C9;
  font-size: 20px;
  border-radius: 2px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.addBtn:hover {
  background-color: #73A2C9;
}